:root {
  --bg: #ffffff;
  --text: #111;
  --accent: #1d75fa;
  --card: #f5f5f5;
}

body.dark {
  --bg: #0f172a;
  --text: #f1f5f9;
  --card: #1e293b;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: var(--bg);
  color: var(--text);
  scroll-behavior: smooth;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 3%;
  background: var(--card);
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: var(--text);
}

.logo span {
  color: var(--accent);
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--text);
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.menu-btn {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--text-color);
}

.theme-toggle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(135deg, #0066ff, #1af7ff);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 25px;
  box-shadow: 0 6px 15px rgba(0, 255, 255, 0.35);
  transition: all 0.3s ease;
}

.theme-toggle:hover {
  box-shadow: 0 10px 25px rgba(0, 255, 255, 0.5);
}

.theme-toggle:active {
  transform: scale(0.95);
}

/* HERO */
#home {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  color: var(--text);
}

.hero-text {
  max-width: 700px;
}

.hero-text h1 {
  font-size: 2rem;
}

.hero-text p {
  margin: 30px 0;
  font-size: 1.2rem;
}

.btn {
  padding: 12px 25px;
  background: var(--accent);
  color:#ffffff;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: #011d96;
}

/* HERO IMAGE */
.hero-img img {
  width: 350px;
  border-radius: 50%;
  border: 6px solid var(--accent);
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}

.typing-wrap {
  width: 25ch;
}

.typing {
  display: inline-block;
  max-width: 0;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: bottom;

  color: var(--accent);
  border-right: 3px solid var(--accent);

  animation:
    typing 3s steps(20, end) forwards,
    blink 0.5s step-end infinite;
}

/* Typing animation */
@keyframes typing {
  from {
    max-width: 0;
  }
  to {
    max-width: 25ch;
  }
}

/* Cursor blinking */
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.role {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s ease-out forwards;
  animation-delay: 1s; 

  font-size: 1.1rem;
  color: var(--text);
  letter-spacing: 1px;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* SECTION */
section {
  padding: 80px 40px;
  text-align: center;
}

section h2 {
  font-size: 2.2rem;
  margin-bottom: 40px;
}

/* CARDS */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: var(--card);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 80px;
  margin-bottom: 15px;
}

/* CONTACT */
#contact {
  background: var(--dark);
  color: var(--text);
}

input, textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid black;
}

button {
  padding: 12px 30px;
  border: none;
  background: var(--accent);
  color: #ffffff;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
}

footer {
  background: var(--card);
  color: var(--text);
  padding: 15px;
  text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
  .theme-toggle {
    width: 40px;
    height: 45px;
    font-size: 19px;
  }

  #home{
    flex-direction: column;
    height: 100vh;
  }

  .hero {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 40px 5%;
    gap: 30px;
  }

  .hero-text {
    order: 2;
  }

  .hero-img {
    order: 1;
  }

  .hero-img img {
    width: 250px; 
  }

  .hero-text h1 {
    font-size: 45px; 
  }
  
  .hero-text h1 {
    font-size: 40px;
  }

  nav {
    display: none;
    flex-direction: column;
    background: var(--card);
    position: absolute;
    top: 70px;
    right: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    padding: 15px;
    transition: all 0.3s ease;
    z-index: 9999;
  }

  nav.show {
    display: flex;
  }

   nav a {
    margin: 10px 0;
    font-size: 18px;
  }

  .menu-btn {
      display: block;
   }

}